@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: #000000;
  --swiper-pagination-bottom: 12px;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  /* --swiper-pagination-fraction-color: #000;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-scale: 1;
  --swiper-pagination-bullet-transition: 0.2s;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-fraction-font-size: 16px;
  --swiper-pagination-fraction-font-family: sans-serif;
  --swiper-pagination-current-color: #000;
  --swiper-pagination-total-color: #ccc;
  --swiper-pagination-vertical-width: 8px;
  --swiper-pagination-vertical-height: 200px; */
}

body {
  margin: 0;
  max-width: 90rem;
  margin-left: 12px;
  margin-right: 4px;
}

@theme {
  --breakpoint-phone: 20rem; /* 320px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-wide: 90rem; /* 1440px */

  --text-clamp-title: clamp(1.2rem, 3vw, 2.5rem);

  --animate-slideUp: slideUp 0.4s ease;

  @keyframes slideUp {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer {
  .animation1 {
    transition: 0.2s ease-in-out;
  }
}

.card-grid-layout {
  @apply grid grid-cols-5 gap-x-6 gap-y-8
  max-sm:grid-cols-2
  max-[39rem]:grid-cols-3
  max-md:grid-cols-4 max-md:gap-x-4 max-md:gap-y-6
  max-lg:grid-cols-5
  max-wide:grid-cols-4;
}
.text-long {
  @apply overflow-hidden whitespace-nowrap text-ellipsis;
}
.whfull {
  @apply w-full h-full;
}
