@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  max-width: 105rem;
}

@theme {
  --breakpoint-phone: 20rem; /* 320px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-xxl: 90rem; /* 1440px */
}
