@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --swiper-pagination-color: var(--color-text2-hover);
  --swiper-pagination-bullet-inactive-color: var(--color-text2);
  --swiper-pagination-bottom: 12px;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  /* --swiper-pagination-fraction-color: #000;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  --swiper-pagination-bullet-scale: 1;
  --swiper-pagination-bullet-transition: 0.2s;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-fraction-font-size: 16px;
  --swiper-pagination-fraction-font-family: sans-serif;
  --swiper-pagination-current-color: #000;
  --swiper-pagination-total-color: #ccc;
  --swiper-pagination-vertical-width: 8px;
  --swiper-pagination-vertical-height: 200px; */
}

body {
  margin: 0 auto;
  max-width: 90rem;
  padding: 4.5rem 10px 2rem 16px;
  background-color: var(--color-bg1);
}

@theme {
  --breakpoint-phone: 20rem; /* 320px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-wide: 90rem; /* 1440px */

  --text-clamp-title: clamp(1.2rem, 3vw, 2.5rem);

  --animate-fade: fade 1s ease;
  --animate-slideUp: slideUp 0.4s ease;
  --animate-rainbow: rainbow 7s linear infinite;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes rainbow {
    0% {
      color: #ff0000;
    }
    14% {
      color: #ff7f00;
    }
    28% {
      color: #ffff00;
    }
    42% {
      color: #00ff00;
    }
    57% {
      color: #155dfc;
    }
    71% {
      color: #4b0082;
    }
    85% {
      color: #9400d3;
    }
    100% {
      color: #ff0000;
    }
  }
}

@layer {
  .animation1 {
    transition: 0.2s ease-in-out;
  }
}
.home-carousel-layout {
  @apply relative max-w-full h-[30rem] rounded-lg max-lg:h-80 max-sm:h-64
  cursor-grab active:cursor-grabbing;
}
.card-grid-layout {
  @apply grid grid-cols-5 gap-6
  max-sm:grid-cols-2
  max-[39rem]:grid-cols-3
  max-md:grid-cols-4 max-md:gap-4
  max-lg:grid-cols-5
  max-wide:grid-cols-4;
}
.search-card-grid-layout {
  @apply grid grid-cols-6 gap-6
  max-sm:grid-cols-2
  max-[39rem]:grid-cols-3
  max-md:grid-cols-4 max-md:gap-4
  max-lg:grid-cols-5;
}
.text-long {
  @apply overflow-hidden whitespace-nowrap text-ellipsis;
}
.whfull {
  @apply w-full h-full;
}
.label {
  @apply p-1 px-4 content-center text-lg font-medium rounded-lg;
}
.shadow {
  box-shadow: 0 0px 10px var(--color-bg2);
}
.text1 {
  @apply text-[var(--color-text1)] hover:text-[var(--color-text1-hover)];
}
.text2 {
  @apply text-[var(--color-text2)] hover:text-[var(--color-text2-hover)];
}
.selected {
  @apply text-[var(--color-text1-hover)];
}
.border1 {
  @apply border-3 border-[var(--color-bg2)];
}
.border2 {
  @apply border-3 border-[var(--color-bg1)] border-dashed;
}

@layer base {
  /* Light theme (default) */
  :root,
  .theme-light {
    --color-text1: #3b82f6;
    --color-text1-hover: #2563eb;
    --color-text2: #222831;
    --color-text2-hover: #059669;
    --color-bg1: #ffffff;
    --color-bg2: #111827;
  }

  /* Dark theme */
  .theme-dark {
    /* white */
    --color-text1: #ffffff;
    /* blue-300 */
    --color-text1-hover: #8ec5ff;
    /* gray-400 */
    --color-text2: #99a1af;
    /* gray-200 */
    --color-text2-hover: #e5e7eb;
    /* gray-900 */
    --color-bg1: #101828;
    /* gray-700 */
    --color-bg2: #364153;
  }

  /* Blue theme */
  .theme-blue {
    --color-text1: #1d4ed8;
    --color-text1-hover: #1e40af;
    --color-text2: #0ea5e9;
    --color-text2-hover: #0284c7;
    --color-bg1: #eff6ff;
    --color-bg2: #1e3a8a;
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  .btn-secondary {
    background-color: var(--color-secondary);
    color: white;
    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }
}

@layer utilities {
  .bg1 {
    background-color: var(--color-bg1);
  }
  .bg2 {
    background-color: var(--color-bg2);
  }

  .theme-transition * {
    transition:
      color 200ms,
      background-color 200ms,
      border-color 200ms;
  }

  /* .hover\:bg-primary:hover {
    background-color: var(--color-primary-hover);
  }

  .hover\:bg-secondary:hover {
    background-color: var(--color-secondary-hover);
  } */
}
